{% extends "base_namespace_problem.html" %}

{% block content %}
{{ block.super }}
<ul>
{% if not namespace_list and not problem_list %}
  <li>This namespace is empty.
{% endif %}
{% if namespace_list %}
  <li>Namespaces
  <ul>
  {% for namespace in namespace_list %}
  <li><a href="{{ namespace.get_absolute_url }}">{{ namespace.name }}</a>
  {% endfor %}
  </ul>
{% endif %}
{% if problem_list %}
  <li>Problems
  <ul>
  {% for problem in problem_list %}
  <li><a href="{{ problem.get_absolute_url }}">{{ problem.name }}</a>
  {%endfor %}
  </ul>
{% endif %}
</ul>
{% endblock %}

