{% extends "base_namespace_problem.html" %}

{% block content %}
{{ block.super }}
<ul>
{% if not namespace.problem_set.all and not namespace.namespace_set.all %}
  <li>This namespace is empty.
{% endif %}
{% if namespace.namespace_set.all %}
  <li>Namespaces
  <ul>
  {% for namespace_child in namespace.namespace_set.all %}
    <li><a href="{% url namespace pk=namespace_child.id %}">{{ namespace_child.name }}</a>
  {% endfor %}
  </ul>
{% endif %}
{% if namespace.problem_set.all %}
  <li>Problems
  <ul>
  {% for problem in namespace.problem_set.all %}
    <li><a href="{% url problem pid=problem.id %}">{{ problem.title }}</a>
  {%endfor %}
  </ul>
{% endif %}
</ul>
{% endblock %}

