{% extends "base_page.html" %}

{% block content %}
<table>
<tr>
<td><img src="{{ STATIC_URL }}images/judgegirl.jpg" alt="judgegirl logo"></td>
<td>
{% if user.is_authenticated %}
<p>Welcome, {{ user.username }}.</p>
{% else %}


<form method="post" action="{% url index %}">{% csrf_token %}
  <table>
    {{form}}
    <tr><th></th><td><input type="submit" value="login"></td></tr>
  </table>
  <input type="hidden" name="next" value="{{ next }}">
</form>


{% endif %}
</td>
</tr>
</table>
{% endblock %}

