{% extends "base_namespace_problem.html" %}

{% block content %}
{{ block.super }}
<table class="list">
{% if not namespace_list and not problem_list %}
<tr><td>This namespace is empty.</td></tr>
{% endif %}
{% if namespace_list %}
  <tr><td>Namespaces</td></tr>
  {% for namespace in namespace_list %}
  <tr><td><a href="{% url namespace sid=namespace.id %}">{{ namespace.name }}</a></td></tr>
  {% endfor %}
{% endif %}
{% if problem_list %}
  <tr><td>Problems</td></tr>
  {% for problem in problem_list %}
  <tr><td><a href="{% url problem pid=problem.id %}">{{ problem.title }}</a></td></tr>
  {% endfor %}
{% endif %}
</table>
{% endblock %}

