{% extends "base_page.html" %}

{% block content %}
<h1>Submit</h1>
<form action="{% url submit %}" method="post">{% csrf_token %}
  <fieldset><legend>Problem information</legend>
    <div>Problem: {{ problem.title }}</div>
    <div>Time limit: {{ problem.time_limit }} second</div>
    <div>Memory limit: {{ problem.memory_limit }} MB</div>
    <div>Output limit: {{ problem.output_limit }} MB</div>
  </fieldset>
  <fieldset><legend>Language (with compile command)</legend>
    
  </fieldset>
  <fieldset><legend>Source code</legend>
    <div>
    <input id="submit_method_textarea" type="radio" name="submit_method" value="textarea">
    Paste code here:<br>
    <textarea name="code" rows="10" cols="72" onkeypress="document.getElementById('submit_method_textarea').checked=true"></textarea>
    </div>
    <div>
    <input id="submit_method_file" type="radio" name="submit_method" value="file">
    Upload source file:
    <input type="file" onchange="document.getElementById('submit_method_file').checked=true">
    </div>
  </fieldset>
  <input type="submit" value="Submit">
  <input type="hidden" name="pid" value="{{problem.id}}">
</form>
{% endblock %}

