h1
{
  text-align: center
}

.announcement
{
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-style: groove;
  border-width: 2px;
  padding: 8px
}

.announce_title
{
  font-weight: bold
}

.announce_content
{
}

.announce_time
{
  text-align: right
}

.list
{
  width: 800px;
  margin-left: auto;
  margin-right: auto
}

table.sample
{
  width: 100%
}

.menu
{
  width: 100%
}

.leftmenu
{
  text-align: left
}

.rightmenu
{
  text-align: right
}

.pagination
{
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center
}

.pagination .next
{
  text-align: right
}

.pagination .prev
{
  text-align: left
}

