h1
{
  text-align: center
}

.announcement
{
  width: 60%;
  margin-left: 20%;
  margin-right: 20%
}

.announcement thead
{
  
}

.announcement tfoot
{
  text-align: right
}

.list
{
  width: 800px;
  margin-left: auto;
  margin-right: auto
}

table.sample
{
  width: 100%
}

.menu
{
  width: 100%
}

.leftmenu
{
  text-align: left
}

.rightmenu
{
  text-align: right
}
